{% extends "base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h3>Ingreso de datos</h3>
		</div>
    </div>
    <div class="col-md-8 col-md-offset-2">
    	<form role="form" action="/form" method="POST">

				<form class="form-horizontal">
              <fieldset>

              <!-- Form Name -->
              <legend>Primero algunos datos!</legend>

              <!-- Textarea -->
              <div class="col-xs-12 form-group">
                <label class="col-md-6 control-label" for="textarea">Descripcion de mi perfil</label>
                <div class="col-md-6">
                  <textarea class="form-control" id="textarea" name="textarea">Ingresa una descripción de ti mismo</textarea>
                </div>
              </div>
<br>
              <!-- Text input-->
              <div class="col-xs-12 form-group">
                <label class="col-md-6 control-label" for="facebook">Facebook</label>
                <div class="col-md-6">
                <input id="facebook" name="facebook" type="text" placeholder="Facebook" class="form-control input-md" required="">
                <span class="help-block">Ingresa tu URL de Facebook</span>
                </div>
              </div>
<br>
              <!-- Text input-->
              <div class="col-xs-12 form-group">
                <label class="col-md-6 control-label" for="linkedin">Linkedin</label>
                <div class="col-md-6">
                <input id="linkedin" name="linkedin" type="text" placeholder="Linkedin" class="form-control input-md" required="">
                <span class="help-block">Ingresa la URL de tu Linked</span>
                </div>
              </div>
<br>
							<!-- Text input-->
							<div class="col-xs-12 form-group">
							 <label class="col-md-6 control-label" for="twitter">Twitter</label>
							 <div class="col-md-6">
								 <input id="twitter" name="twitter" type="text" placeholder="Twitter" class="form-control input-md" required="">
								 <span class="help-block">Ingresa la URL de tu Twitter</span>
							 </div>
						 </div>
<br>
              <!-- Button (Double) -->
              <div class="col-xs-12 form-group">
                <label class="col-md-6 control-label" for="button1id"></label>
                <div class="col-md-6">
                  <button id="button2id" name="button2id" class="btn btn-danger">Reset</button>
                  <button type="submit" id="button1id" name="button1id" class="btn btn-success">Enviar</button>
                </div>
              </div>

              </fieldset>
              </form>
    </div>
{% end %}
